* {
  font-family: 'Arial', sans-serif; 
  font-style: normal; 

  margin: 0; 
  padding: 0; 
}
.career-page {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.career-page h1 {
  color:black;
 margin-top: -20px;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

.career-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.phone-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.phone-input span {
  background-color: #e9ecef;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

input[type="file"] {
  padding: 0.5rem;
}
